<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Banner</title>
</head>
<body>

<div th:fragment="banner">
    <!--noindex-->

    <div class="banner-block editor-content">
        <a href="https://www.milkparts.ru/mega_sens/945382" rel="nofollow"><p style="text-align: center;">Система
            контроля уровня жидкости MEGA-SENS</p>
            <picture>
                <source srcset="https://www.milkparts.ru/img/promo/compact_MEGA-SENS.webp" type="image/webp">
                <img src="https://www.milkparts.ru/img/promo/compact_MEGA-SENS.jpg" alt="Блок управления MEGA-SENS"
                     class="big-image"/>
            </picture>
        </a>
    </div>
    <div class="banner-block editor-content">
        <p><span style="color: #ff0000;">8-800-300-48-20</span></p>
        <p>БЕСПЛАТНО для звонков из РФ</p>
        <p>мы с удовольствием ответим на Ваши вопросы с 9 до 19 часов по Московскому времени</p>
    </div>
    <div class="banner-block editor-content">
        <p><em>Отправка в день поступления платежа</em></p>
    </div>

    <div class="banner-block editor-content">
        <p><span style="color: #ff0000;">Перед оплатой счета уточняйте наличие Товара на складе</span></p>
    </div>
    <!--/noindex-->
</div>


</body>
</html>