<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>

<div th:fragment="footer">
    <footer><!-- #footer -->
        <div id="footer">
            <div class="center-align">
                <div class="copy">
                    &#169; Copyright Товары для животноводства 2015 - 2023.
                </div>
                <a class="footmail" href="mailto:info@milkparts.ru">info@milkparts.ru</a>
                <ul class="foot-menu">
                </ul>
            </div>
        </div><!-- #footer -->
    </footer>
</div>

</body>
</html>