<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="ru">


<head th:replace="~{common/headCommon :: headInfo(~{::title}, ~{::meta})}">
    <title>ошибка 404</title>
    <meta name="keywords" content=""/>
    <meta name="description" content="ошибка 404"/>

</head>
<body id="">

<div id="wrapper">
    <header>
        <div id="header-bg"></div>
        <div id="header">
            <div class="center-align">
                <div class="b-langs">

                </div>

                <a th:replace="~{common/shopNameCommon :: shopName}"></a>

                <div th:replace="~{common/phoneCommon :: phoneBlock}"></div>

                <div th:replace="~{common/cartCommon :: cart}"></div>

                <div class="main-clear"></div>

                <div th:replace="~{/common/menu :: menu}"></div>

            </div>
        </div><!-- #header-->
    </header>

    <div class="breadcrumbs center-align">
        <a th:href="@{/index}">Главная</a> &gt;

        <span style="text-decoration: none;">Ошибка 404</span>

    </div>


    <div id="middle">
        <div id="container">
            <div id="content">
                <h1 style="padding-right: 185px;">Извините, страница не найдена.<br>Возможно она была перемещена.<br>
                    Попробуйте начать с меню</h1>
                <img th:src="@{/assets/404.png}" alt="" class="big-image"/>


                <div class="main-clear">&nbsp;</div>
            </div><!-- #content-->
        </div><!-- #container-->

        <aside>

            <div class="sidebar" id="sideLeft">

                <div th:replace="~{common/bannerCommon :: banner}"></div>

            </div><!-- .sidebar#sideLeft -->
        </aside>


    </div><!-- #middle-->

    <div th:replace="~{common/footerCommon :: footer}"></div>

</div><!-- #wrapper -->


</body>

</html>