<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="ru">

<head th:replace="~{common/headCommon :: headInfo(~{::title}, ~{::meta})}">
    <title>Обратная связь</title>
    <meta name="keywords" content="написать сообщение Петропак Групп"/>
    <meta name="description" content="обратная связь Петропак Групп"/>

</head>
<body id="one-column">

<div id="wrapper">
    <header>
        <div id="header-bg"></div>
        <div id="header">
            <div class="center-align">
                <div class="b-langs">

                </div>

                <a th:replace="~{common/shopNameCommon :: shopName}"></a>

                <div th:replace="~{common/phoneCommon :: phoneBlock}"></div>

                <div th:replace="~{common/cartCommon :: cart}"></div>

                <div class="main-clear"></div>

                <div th:replace="~{/common/menu :: menu}"></div>

            </div>
        </div><!-- #header-->
    </header>

    <div class="breadcrumbs center-align">
        <a th:href="@{/index}">Главная</a> &gt;

        <span>Обратная связь</span>

    </div>

    <div id="middle">
        <div id="container">
            <div id="content">
                <div class="style-block" style="background: #FFFFFF;">
                    <h1>Отправьте нам Ваш запрос</h1>
                    <div class="editor-content">

                        <p><span style="font-size: 12pt;">Вы можете задать свой вопрос лично по тел. <span
                                style="font-size: 14pt;">8-800-300-48-20</span> БЕСПЛАТНО для звонков из РФ</span></p>
                        <p><span style="font-size: 12pt;">отправить нам сообщение на <span style="font-size: 14pt;"><a
                                href="mailto:info@milkparts.ru">info@milkparts.ru</a></span></span></p>
                        <p><span style="font-size: 12pt;">или положить интересующий Вас товар в корзину и отправить нам заявку</span>
                        </p>

                    </div>
                </div>
                <div class="main-clear">&nbsp;</div>
            </div><!-- #content-->
        </div><!-- #container-->

        <aside>

            <div class="sidebar" id="sideLeft">

                <div th:replace="~{common/bannerCommon :: banner}"></div>

            </div><!-- .sidebar#sideLeft -->
        </aside>

    </div><!-- #middle-->

    <div th:replace="~{common/footerCommon :: footer}"></div>

</div><!-- #wrapper -->

</body>

</html>