<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="ru">

<!--<head>-->
<head th:replace="~{common/headCommon :: headInfo(~{::title}, ~{::meta}, ~{::link})}">
    <title th:utext="#{label.pages.home.title}">Title</title>
    <meta name="keywords" content=""/>
    <meta name="description" content="login"/>

    <link/>

</head>
<body id="">

<div id="wrapper">
    <header>
        <div id="header-bg"></div>
        <div id="header">
            <div class="center-align">
                <div class="b-langs">

                </div>

                <a th:replace="~{common/shopNameCommon :: shopName}"></a>

                <div th:replace="~{common/phoneCommon :: phoneBlock}"></div>

                <div th:replace="~{common/cartCommon :: cart}"></div>

                <div class="main-clear"></div>

                <div th:replace="~{/common/menu :: menu}"></div>

            </div>
        </div><!-- #header-->
    </header>

    <div class="breadcrumbs center-align">
        <a th:href="@{/index}">Главная</a> &gt;

        <span style="text-decoration: none;">Login</span>

    </div>


    <div id="middle">
        <div id="container">
            <div id="content">

                <h1 style="padding-right: 185px;" th:utext="#{label.form.loginTitle}">Header</h1>

                <div th:if="${param.verified}" th:utext="#{message.accountVerified}"
                     class="alert alert-success">Account has been verified. Please sign-in
                </div>


                <div th:if="${param.validate}" th:utext="#{message.regSucc}" class="alert alert-success">
                    Account has been created. Please verify it by email before log in
                </div>

                <div th:if="${param.error}"
                     th:text="${session[SPRING_SECURITY_LAST_EXCEPTION]}">error
                </div>
                <div th:if="${param.logout}" th:utext="#{message.logoutSucc}">You have been logged out.</div>

                <form th:action="@{/login}" method="post">
                    <div><label class="col-sm-4" th:utext="#{label.form.loginUsername}">Email</label>
                        <input type="text" name="username"/></div>

                    <div><label class="col-sm-4" th:utext="#{label.form.loginPass}">password</label>
                        <span class="col-sm-8"><input class="form-control" type='password' name='password'/></span>
                    </div>

                    <div><input type="submit" value="Sign In"/></div>
                </form>

                <br/> Current Locale : <span th:utext="${#locale}"></span><br/><br/>

                <div><a th:href="@{/reg}">Зарегистрироваться</a> &gt;</div>

                <a class="btn btn-default" th:href="@{/reg}" th:utext="#{label.form.loginSignUp}">signup</a>
                <br/>

                <div class="main-clear">&nbsp;</div>
            </div><!-- #content-->
        </div><!-- #container-->

        <aside>

            <div class="sidebar" id="sideLeft">

                <div th:replace="~{common/bannerCommon :: banner}"></div>

            </div><!-- .sidebar#sideLeft -->
        </aside>


    </div><!-- #middle-->

    <div th:replace="~{common/footerCommon :: footer}"></div>

</div><!-- #wrapper -->


</body>

</html>